</div>

{% if page.sidebar_view %}
<div class="sidebar">
<li id="advanced_menu-24" class="widget widget_advanced_menu">

<ul id="menu-home-and-hospital-teaching" class="menu-side">
  <li class="menu-item"><a href="/academies/">Career Academies</a></li>
  <li class="menu-item"><a href="/acadmies/electives/">Elective Course Options</a></li>
  <li class="menu-item"><a href="/academies/college-credit/">College Articulation Agreements</a></li>
  <li class="menu-item"><a href="/academies/contact/">Contact Information</a></li>
</ul>
{% endif %}

</li>
</div>
</div>
</div>


<div class="footer group">
<div class="footer-inner group">
<div class="footer-directions">
  <a target="_blank" href="https://www.google.com/maps/preview?hl=en&amp;q=10910+Clarksville+Pike,+Ellicott+City,+MD+21042"><img id="hcpss-gmaps-footer-icon" src="http://s3.amazonaws.com/hcpss.web.site/images/directions-maps.png" height="120" width="120" alt="" /></a>
  <address>
  <strong>Howard County Public School System</strong><br>
  10910 Clarksville Pike<br>
  Ellicott City, MD 21042<br>
  Main Phone: (410) 313-6600<br>
  <a href="/employees/staff-directory/">Staff Directory</a> | <a href="/employment/#equal-opportunity">Equal Opportunity</a>
</address>
</div>
<div class="footer-hcpssnews">
<p><strong>Your HCPSS News Subscription</strong><br>
Learn more about the email and text alerts included within your HCPSS News subscription.</p>
<p> <span class="subscribe"><a href="/hcpss-news/"><i class="fa fa-bullhorn"></i>&nbsp;Learn more&nbsp;→</a></span></p>
</div>
</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://s3.amazonaws.com/hcpss.web.site/images/jquery.searcher.min.js"></script>
<script src="http://s3.amazonaws.com/hcpss.web.site/images/hcpss-2015-12-18.js"></script>

</body>
</html>
