<body>


<div class="header group">
  <div class="header-inner group" itemscope itemtype="http://schema.org/Organization">
    <div class="logomark">
      <a href="/"><img itemprop="logo" class="logo shadow-smaller"
       src="http://s3.amazonaws.com/hcpss.web.site/images/hcpss-logo-outlined.png" height="60" width="60" alt="" /><h1>Howard County Public School System</h1></a>
    </div>
    <div class="sm">
      <link itemprop="url" href="http://www.hcpss.org/">
      <ul class="social-media-icons group">
  <li><a target="_blank" id="social-media-icon-twitter" href="https://twitter.com/hcpss/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/twitter-squared.svg" alt="Follow @hcpss on Twitter" /></a></li>
  <li><a target="_blank" id="social-media-icon-facebook" href="https://www.facebook.com/hocoschools/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/facebook-squared.svg" alt="Like HoCoSchools on Facebook" /></a></li>
  <li><a target="_blank" id="social-media-icon-instagram" href="https://instagram.com/hocoschools/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/instagram.svg" alt="Follow HoCoSchools on Instagram" /></a></li>
  <li><a target="_blank" id="social-media-icon-vimeo" href="https://www.vimeo.com/hcpss/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/vimeo-squared.svg" alt="Watch HCPSS videos on Vimeo" /></a></li>
  <li><a target="_blank" id="social-media-icon-youtube" href="https://www.youtube.com/hcpsstv/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/youtube-squared.svg" alt="Watch HCPSS videos on YouTube" /></a></li>
  <li><a target="_blank" id="social-media-icon-super-blog" href="https://superintendent.hcpss.org/"><img src="http://s3.amazonaws.com/hcpss.web.site/images/blog-icon.svg" width="27" height="32" alt="Visit the Superintendent's Blog" /></a></li>
</ul>
    </div>
  </div>

<!--googleoff: index-->

<nav id="main-nav">
  <fieldset>
  <legend>Navigate our site's sections</legend>
    <input class="state" type="radio" name="nav-state" id="main-nav__section-about--toggle" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="main-nav__section-schools--toggle" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="main-nav__section-academics--toggle" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="main-nav__section-services--toggle" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="main-nav__section-news--toggle" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="main-nav__section-search--toggle" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="close-about-nav" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="close-schools-nav" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="close-academics-nav" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="close-news-nav" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="close-services-nav" autocomplete="off">
    <input class="state" type="radio" name="nav-state" id="close-search-nav" autocomplete="off">


  <div class="main-nav-tabs">
    <label class="main-nav-tabs--toggle-btn about-tab" tabindex="0" for="main-nav__section-about--toggle"><!--[if lt IE 9]><a href="/about/"><![endif]-->About<!--[if lt IE 9]></a><![endif]--></label>
    <label class="main-nav-tabs--toggle-btn schools-tab" tabindex="0" for="main-nav__section-schools--toggle"><!--[if lt IE 9]><a href="/schools/"><![endif]-->Schools<!--[if lt IE 9]></a><![endif]--></label>
    <label class="main-nav-tabs--toggle-btn academics-tab" tabindex="0" for="main-nav__section-academics--toggle"><!--[if lt IE 9]><a href="/academics/"><![endif]-->Academics<!--[if lt IE 9]></a><![endif]--></label>
    <label class="main-nav-tabs--toggle-btn services-tab" tabindex="0" for="main-nav__section-services--toggle"><!--[if lt IE 9]><a href="/services/"><![endif]-->Services<!--[if lt IE 9]></a><![endif]--></label>
    <label class="main-nav-tabs--toggle-btn news-tab" tabindex="0" for="main-nav__section-news--toggle"><!--[if lt IE 9]><a href="/news/"><![endif]-->News<!--[if lt IE 9]></a><![endif]--></label>
    <label class="main-nav-tabs--toggle-btn search-tab" tabindex="0" for="main-nav__section-search--toggle"><span><i class="fa fa-search" style="font-size: 20px;"></i> <!--[if lt IE 9]><a href="http://search.hcpss.org/search?q=&btnG=Search&proxystylesheet=hcpss_main_frontend&client=hcpss_main_frontend&oe=UTF-8&ie=UTF-8&numgm=5&output=xml_no_dtd&sort=date%3AD%3AL%3Ad1&wc=200&wc_mc=1&ud=1&exclude_apps=1&site=www_main_site"><![endif]--> Search<!--[if lt IE 9]></a><![endif]--></span></label>
  </div>

  <div class="main-nav__section">
    <section class="main-nav__section-about">
    <h2><a href="/about-us/">About</a></h2>
    <div class="thirds">
      <ul>
      <li><a href="/board/">Board of Education</a></li>
      <li><a href="http://www.boarddocs.com/mabe/hcpssmd/Board.nsf/public">BoardDocs</a></li>
      <li><a href="/board/policies/">Policies</a></li>
      <li><a href="/board/ombudsman-services/">Ombudsman Services</a></li>
      <li><a href="/contact-us/">Contact Us</a></li>
      <li><a href="/about-us/public-information-requests/">Public Information Requests</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/about-us/superintendent/">Dr. Renee Foose, Superintendent</a></li>
      <li><a href="/vision/">Vision 2018</a></li>
      <!-- <li><a href="/vision/progress-report/">Progress Report on the Strategic Plan</a></li>  -->
      <li><a href="/about-us/annual-reports/">Annual Reports</a></li>
      <li><a href="/about-us/research-data-analysis/">Research and Data Analysis</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/employment/">Employment</a></li>
      <li><a href="/about-us/budgets/">Budget</a></li>
      <li><a href="/about-us/partnerships/">Partnerships</a></li>
      <li><a href="/about-us/purchasing/">Purchasing</a></li>
      <li><a href="/f/vendors/index.html">Fund Accountability &amp; Transparency</a></li>
      </ul>
    </div>
    <label class="main-nav__close-button" for="close-about-nav">Close <i class="fa fa-times-circle"></i></label>
    </section>

    <section class="main-nav__section-schools">
    <h2><a href="/schools/">Schools</a></h2>
    <div class="thirds">
      <ul>
      <li><a href="/schools/elementary-schools/">Elementary Schools</a></li>
      <li><a href="/schools/middle-schools/">Middle Schools</a></li>
      <li><a href="/schools/high-schools/">High Schools</a></li>
      <li><a href="/schools/education-centers/">Education Centers</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/schools/emergency-closings/">Emergency Closings</a></li>
      <li><a href="/athletics/">Athletics</a></li>
      <li><a href="/athletics/weather-procedures/">Athletics Weather-Related Procedures</a></li>
      <li><a href="/athletics/contact/">Athletic Contacts</a></li>
      <li><a href="/athletics/forms-and-guidelines/">Athletics Forms</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/about-us/handbook/">Student Handbook</a></li>
      <li><a href="/schools/visitation/">Visiting Schools</a></li>
      <li><a href="/about-us/safe-schools/">Safe Schools</a></li>
      <li><a href="/school-planning/">School Planning (Maps)</a></li>
      <li><a href="/parents/facilities/">Use of School Facilites</a></li>
      </ul>
    </div>
    <label class="main-nav__close-button" for="close-schools-nav">Close <i class="fa fa-times-circle"></i></label>
    </section>

    <section class="main-nav__section-academics">
    <h2><a href="/academics/">Academics</a></h2>
    <div class="thirds">
      <ul>
      <li><a href="/academics/english-language-arts/">English/Language Arts</a></li>
      <li><a href="/academics/mathematics/">Mathematics</a></li>
      <li><a href="/academics/elementary-science/"> Science (Elementary)</a></li>
      <li><a href="/academics/secondary-science/">Science (Secondary)</a></li>
      <li><a href="/academics/elementary-social-studies/">Social Studies (Elementary)</a></li>
      <li><a href="/academics/secondary-social-studies/">Social Studies (Secondary)</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/academics/career-technology-education/">Career and Tech Education</a></li>
      <li><a href="/academics/digital-education/">Digital Education</a></li>
      <li><a href="/academics/esol/">ESOL</a></li>
      <li><a href="/academics/fine-arts/">Fine Arts</a></li>
      <li><a href="/academics/health-education/">Health Education</a></li>
      <li><a href="/academics/library-media/">Library Media</a></li>
      <li><a href="/academics/physical-education/">Physical Education</a></li>
      <li><a href="/academics/world-language-program/">World Languages</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/academics/alternative-education/">Alternative Education</a></li>
      <li><a href="/academics/elementary-school-model/">Elementary School Model</a></li>
      <li><a href="/academics/grow-strong-middle-schools/">Grow Strong Middle Schools</a></li>
      <li><a href="/academics/gifted-and-talented/">Gifted and Talented</a></li>
      <li><a href="/academics/instructional-technology/">Instructional Technology</a></li>
      <li><a href="/enroll/kindergarten/">Kindergarten Readiness</a></li>
      <li><a href="/schools/pre-k-programs/">Pre-Kindergarten Programs</a></li>
      <li><a href="/academics/service-learning/">Service Learning</a></li>
      <li><a href="/academics/special-education/">Special Education</a></li>
      <li><a href="/academics/testing/">Testing</a></li>
      <li><a href="/academics/title-i-program/">Title I</a></li>
      </ul>
    </div>
    <label class="main-nav__close-button" for="close-academics-nav">Close <i class="fa fa-times-circle"></i></label>
    </section>

    <section class="main-nav__section-services">
    <h2><a href="/services/">Services</a></h2>
    <div class="thirds">
      <ul>
      <li><a href="/enroll/">Enrollment and Registration</a></li>
      <li><a href="/schools/transportation/">Transportation</a></li>
      <li><a href="/food-services/">Food and Nutrition Services</a></li>
      <li><a href="/schools/before-and-after-school-care/">Before and After Care</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/special-education/">Special Education</a></li>
      <li><a href="/schools/health-services/">Health Services</a></li>
      <li><a href="/schools/counseling-services/">School Counseling Services</a></li>
      <li><a href="/schools/psychological-services/">Psychological Services</a></li>
      <li><a href="/schools/pupil-personnel-services/">Pupil Personnel Services</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a href="/languages/">International Services</a></li>
      <li><a href="/schools/academic-intervention/">Academic Intervention</a></li>
      <li><a href="/home-hospital-teaching/">Home and Hospital</a></li>
      </ul>
    </div>
    <label class="main-nav__close-button" for="close-services-nav">Close <i class="fa fa-times-circle"></i></label>
    </section>

    <section class="main-nav__section-news">
    <h2><a href="/news/">News</a></h2>
    <div class="thirds">
      <ul>
      <li><a href="/news/press-release/">Press Releases</a></li>
      <li><a href="/news/community-event/">Upcoming Events</a></li>
      <li><a href="/news/staff-focus/">Staff Focus</a></li>
      </ul>
    </div>
    <div class="thirds">
      <ul>
      <li><a target="_blank" href="https://twitter.com/hcpss/">@HCPSS Twitter</a></li>
      <li><a target="_blank" href="https://www.facebook.com/hocoschools/">Facebook</a></li>
      <li><a target="_blank" href="/tv/">HCPSS TV</a></li>
      <li><a target="_blank" href="https://superintendent.hcpss.org/">Superintendent's Corner</a></li>
      <li><a target="_blank" href="https://twitter.com/superhcpss/">Dr. Foose on Twitter</a></li>
      </ul>
      </div>
    <div class="thirds" id="thirds__sub-box" style="color:white; font-size: 12px;">
      <strong>Your HCPSS News Subscription</strong><br>
      Learn more about the email and text alerts included within your HCPSS News subscription.<br><br><span class="subscribe"><a href="/hcpss-news/"><i class="fa fa-bullhorn"></i>&nbsp;Learn More&nbsp;→</a></span>
    </div>
    <label class="main-nav__close-button" for="close-news-nav">Close <i class="fa fa-times-circle"></i></label>
    </section>

    <section class="main-nav__section-search">
    <form action="http://search.hcpss.org/search" method="get" id="search-form">
      <input type="hidden" name="site" value="www_main_site">
      <input type="hidden" name="proxystylesheet" value="hcpss_main_frontend">
      <input type="hidden" name="client" value="hcpss_main_frontend">
      <input type="hidden" name="access" value="p">
      <input type="hidden" name="ie" value="UTF-8">
      <input type="hidden" name="oe" value="UTF-8">
      <input type="hidden" name="filter" value="0">
      <input type="hidden" name="numgm" value="5">
      <input type="hidden" name="btnG" value="Search">
      <input type="hidden" name="output" value="xml_no_dtd">
      <input type="hidden" name="sort" value="date:D:L:d1">
      <label style="display: none;" for="q">Search:</label>
      <input type="text" id="q" name="q" maxlength="255">
      <button style="background-color:#FECC6A;color:black;" type="submit">Search</button>
    </form>
    <p style="color: white;float:right;padding-right: 65px;">Jump to: <a href="/about-us/forms/">Forms</a></p>
    <label class="main-nav__close-button" for="close-search-nav">Close <i class="fa fa-times-circle"></i></label>
    </section>
  </div>
  </fieldset>
</nav>


<!--googleon: index-->
</div>


<div class="container page group">
<div class="main group">

<nav class="secondary-nav">
<div class="secondary-nav__inner">
<input class="second-state" type="checkbox" name="second-nav-state" id="secondary-nav--toggle" autocomplete="off">
<h2><a href="{{ site.baseurl }}/academies">Career Academies</a></h2>
<label class="secondary-nav__inner--toggle-btn" tabindex="0" for="secondary-nav--toggle"><span class="secondary-nav__inner--hidden">Secondary Navigation</span></label>
  <ul class="secondary-nav__collapsable">
    <li><a href="{{ site.baseurl }}/academies/college-credit/">College Credit</a></li>
    <li><a href="{{ site.baseurl }}/academies/faq/">FAQ</a></li>
  </ul>
</div>
</nav>

<div class="contents hero-heading">
<h1>{{ page.title }}</h1>
</div>


  <!-- <p class="tagline">Preparing Students for College and Careers</p> -->
    {% if page.sidebar_view == null %}
      <div style="width:100%" class="body-content">
    {% elsif page.sidebar_view %}
      <h1> {{ page.title }}</h1>
      <div class="body-content">
    {% endif %}
