<h1>Suggested Course Schedule</h1>
<table class="table academy">
	<caption>Below is a suggested high school course schedule for students interested in the Engineering Academy</caption>
	<tr>
 	 <th scope="col">Grade Level</th>
 	 <th scope="col">Course 1</th>
 	 <th scope="col">Course 2</th>
 	 <th scope="col">Course 3</th>
 	 <th scope="col">Course 4</th>
 	 <th scope="col">Course 5</th>
 	 <th scope="col">Course 6</th>
 	 <th scope="col">Course 7</th>
  </tr>
	<tr>
		<th scope="row">Ninth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td class="required">Fitness &amp; Health required</td>
		<td>World Language</td>
		<td class="academy-course">PLTW Engineering Design G/T 681M (Technology Education Graduation Credit)</td>
	</tr>
	<tr>
		<th scope="row">Tenth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td>World Language</td>
		<td>Fine Arts available</td>
		<td class="academy-course">PLTW Principles of Engineering G/T 68001</td>
	</tr>
	<tr>
		<th scope="row">Eleventh Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td>Elective available</td>
    <td class="academy-course">PLTW Digital Electronics G/T 68601</td>
		<td class="academy-course">PLTW Computer Integrated Manufacturing G/T 68501</td>
	</tr>
	<tr>
		<th scope="row">Twelfth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td>Science Elective available</td>
		<td>Elective available</td>
    <td>Elective available</td>
		<td>Elective available</td>
    <td class="academy-course">PLTW Engineering Design and Development G/T 68701</td>
	</tr>
</table>
