<h1>Suggested Course Schedule</h1>
<table class="table academy">
	<caption>Below is a suggested high school course schedule for students interested in the Health Professions Academy</caption>
	<tr>
 	 <th scope="col">Grade Level</th>
 	 <th scope="col">Course 1</th>
 	 <th scope="col">Course 2</th>
 	 <th scope="col">Course 3</th>
 	 <th scope="col">Course 4</th>
 	 <th scope="col">Course 5</th>
 	 <th scope="col">Course 6</th>
 	 <th scope="col">Course 7</th>
  </tr>
	<tr>
		<th scope="row">Ninth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td class="required">Fitness &amp; Health required</td>
		<td class="required">Technology Education required</td>
		<td>Elective available</td>
	</tr>
	<tr>
		<th scope="row">Tenth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td class="required">Fine Arts required</td>
		<td>Elective available</td>
		<td>Elective available</td>
	</tr>
	<tr>
		<th scope="row">Eleventh Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td>Elective available</td>
		<td colspan="2" class="academy-course">Foundations of Health Care – Honors (2)</td>
	</tr>
	<tr>
		<th scope="row">Twelfth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td>Elective available</td>
		<td>Elective available</td>
    	<td colspan="3" class="academy-course">Clinical Research in Allied Health - Honors (3) Or Certified Nursing Assistant: Theory and Clinical (3) Or Emergency Medical Technician: Basic and Clinical (2)**</td>
	</tr>
</table>
