<h1>Suggested Course Schedule</h1>
<table class="table academy">
	<caption>Below is a suggested high school course schedule for students interested in the Hotel and Restaurant Management Academy</caption>
	<tr>
 	 <th scope="col">Grade Level</th>
 	 <th scope="col">Course 1</th>
 	 <th scope="col">Course 2</th>
 	 <th scope="col">Course 3</th>
 	 <th scope="col">Course 4</th>
 	 <th scope="col">Course 5</th>
 	 <th scope="col">Course 6</th>
 	 <th scope="col">Course 7</th>
  </tr>
	<tr>
		<th scope="row">Ninth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td class="required">Fitness &amp; Health required</td>
		<td class="required">Technology Education required</td>
		<td>Fine Arts available</td>
	</tr>
	<tr>
		<th scope="row">Tenth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td>Elective available</td>
		<td>Elective available</td>
		<td>Elective available</td>
	</tr>
	<tr>
		<th scope="row">Eleventh Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td>Elective available</td>
		<td colspan="2" class="academy-course">Introduction to the Hotel and Restaurant Management Industry 877M</td>
	</tr>
	<tr>
		<th scope="row">Twelfth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td>Elective available</td>
		<td>Elective available</td>
    <td colspan="3" class="academy-course">Management and Leadership in Hotels and Restaurants 880M</td>
	</tr>
</table>
