<ul>
	<li>Maintain a C average in all academy coursework.</li>
	<li>Maintain a C average in mathematics.</li>
</ul>

<p>In the senior year PLTW Engineering Design and Development course, students work in teams to research, design and construct a solution to an open-ended engineering problem. Students apply principles developed in the four preceding courses and are guided by a mentoring engineer. They must present progress reports, submit a final written report and defend their solutions to a panel of outside reviewers at the end of the school year.</p>