<ul>
<li>Maintain a C average in all academy coursework.</li>
<li>Take Year One and Year Two Hospitality and Tourism Management examinations and complete a minimum of 100 hours of work experience in the lodging industry (required for students pursuing the Certified Hospitality and Tourism Management Professional (CHTMP) designation).</li>
</ul>
<strong>OR</strong>
<ul>
	<li>Pass Year One and Year Two ProStart examinations and complete 400 hours of mentored industry experience (required for students pursuing ProStart certification).</li>
</ul>