<h2 style="width: 90%;"><i class="fa fa-file-text fa-2" style="color: #7DC254;"></i> Curriculum</h2>
<ul>
  <li><a href="http://www.hcpss.org/f/academics/comp-sci-tech-solutions.pdf">Computer Science &#8211; Designing Technology Solutions &#8211; Honors</a></li>
  <li><a href="http://www.hcpss.org/f/academics/principals-comp-sci.pdf">Principles of Computer Science &#8211; G/T</a></li>
  <li><a href="http://www.hcpss.org/f/academics/comp-sci-a.pdf">Computer Science A &#8211; AP</a></li>
  <li><a href="http://www.hcpss.org/f/academics/docs_advobjorientedgt.pdf">Advanced Object-Oriented Design &#8211; G/T</a></li>
  <li><a href="http://www.hcpss.org/f/academics/advanced-data-structures.pdf">Advanced Data Structures &#8211; G/T</a></li>
</ul>
