<h2 style="width: 90%;"><i class="fa fa-file-text fa-2" style="color: #7DC254;"></i> Curriculum</h2>
<ul>
  <li><a href="http://www.hcpss.org/f/academics/docs_pcsoftandhardware.pdf">PC Software and Hardware</a></li>
  <li><a href="http://www.hcpss.org/f/academics/docs_networkessentials.pdf">Networking Essentials &#8211; Honors</a></li>
  <li><a href="http://www.hcpss.org/f/academics/docs_compunetwork1.pdf">Computer Networking I &#8211; G/T</a></li>
  <li><a href="http://www.hcpss.org/f/academics/docs_compunetwork2.pdf">Computer Networking II &#8211; G/T</a></li>
</ul>
