<h2 style="width: 90%;"><i class="fa fa-file-text fa-2" style="color: #7DC254;"></i> Curriculum</h2>
<ul>
 <li><a href="http://www.hcpss.org/f/academics/struct_found.pdf">Structure and Function of Human Body &#8211; Honors</a></li>
 <li><a href="http://www.hcpss.org/f/academics/found_med.pdf">Foundations of Medicine and Health &#8211; Honors</a></li>
 <li><a href="http://www.hcpss.org/f/academics/docs_certifiednurse.pdf">Certified Nursing Assistant &#8211; Theory and Clinical</a></li>
 <li><a href="http://www.hcpss.org/f/academics/clinical-research-allied-health.pdf">Clinical Research in Allied Health </a></li>
 <li><a href="http://www.hcpss.org/f/academics/docs_emtbasic.pdf">Emergency Medical Technician Basic</a></li>
</ul>
