<h2 style="width: 90%;"><i class="fa fa-file-text fa-2" style="color: #7DC254;"></i> Curriculum</h2>
<ul>
  <li><a href="http://www.hcpss.org/f/academics/docs_graphic1.pdf">Graphic Design I &#8211; G/T</a></li>
  <li><a href="http://www.hcpss.org/f/academics/docs_graphic2.pdf">Advanced Graphic Design &#8211; G/T</a></li>
  <li><a href="http://www.hcpss.org/f/academics/docs_animation1.pdf">Animation I</a></li>
  <li><a href="http://www.hcpss.org/f/academics/docs_advanimation.pdf">Advanced Animation</a></li>
</ul>
