<ul>
	<li>Complete at least 6-8 hours of work-site experience per week OR daily attendance at the Applications and Research Lab.</li>
	<li>Attend weekly senior seminars at the Applications and Research Lab.</li>
	<li>Choose a “real world” problem to research.</li>
	<li>Write and submit a research proposal, abstract, and reflection paper based on research.</li>
	<li>Maintain and submit a journal and portfolio of senior work.</li>
	<li>Present a culminating multimedia presentation for the final grade.</li>
</ul>