 <h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-asterisk" style="color: #7DC254;"></i> Pathway Options</h2>

<div id="list">
	<h3><i class="fa fa-angle-right fa-2"></i> Computer Networking Pathway</h3>
	<div class="hide hide--content">
    <p>Students will complete CISCO certified coursework and take the Cisco Certified Network Engineer Technician (CCENT) exam and have the option to take the Cisco Certified Network Administrator (CCNA) and the CompTIA Security + certification exams.</p>
	 <p>Students will complete Cyber Watch coursework.</p>
  </div>

	<h3><i class="fa fa-angle-right fa-2"></i> PC Systems Pathway</h3>
  <div class="hide hide--content">
	 <p>Students will complete CISCO certified coursework and take the Comp TIA A+ certification exam. Students will also have the option to take the Cisco Certified Network Engineer Technician (CCENT) and CompTIA Security + certification exams.</p>
	 <p>Students will have the option of completing a worksite experience in a computer repair or networking field</p>
  </div>
</div>