<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-asterisk" style="color: #7DC254;"></i> Pathway Options</h2>

<p><strong>After completion of junior level academy courses students have the option of enrolling in one of three pathways:</strong></p>

<div id="list">
  <h3><i class="fa fa-angle-right fa-2"></i> Clinical Research in Allied Health </h3>
    <div class="hide hide--content">
      <p>This pathway offers students a clinical worksite experience in an allied health field of their interest. Students will be engaged in a real-world experience while also establishing a core understanding of the fundamentals of evidenced based research and writing. Students may also choose to pursue further education in the fields of Physical Medicine and Rehabilitation or Pharmacy Technician training. Each of these specialties will include selective curriculum along with an internship experience.</p>
      <h4>In addition to program requirements, successful students:</h4>
        <ul>
          <li>Maintain a C average in all academy coursework.</li>
          <li>Complete at least 6-8 hours of work-site experience per week OR daily attendance at the Applications and Research Lab.</li>
          <li>Attend weekly senior seminars at the Applications and Research Lab.</li>
          <li>Choose a “real world” problem to research.</li>
          <li>Write and submit a research proposal, abstract, and reflection paper based on research.</li>
          <li>Maintain and submit a journal and portfolio of senior work</li>
          <li>Present a culminating multimedia presentation for the final grade.</li>
        </ul>
      <h4><i class="fa fa-graduation-cap fa-2"></i> College Credit</h4>
      <p>Students who successfully complete the Clinical Research in Allied Health program sequence, with a grade of B or higher in academy courses, may be eligible for credits at Howard Community College.</p>
    </div>
  <h3><i class="fa fa-angle-right fa-2"></i> Certified Nursing Assistant (CNA)</h3>
    <div class="hide hide--content">
      <p>Prepares students to function as a nursing assistant in a variety of health care settings. This academy has been approved by the Maryland Board of Nursing and provides training in life span development, vital signs, basic patient care skills, disease processes, and communication skills. All coursework must be successfully completed to receive a Howard County Community College Certificate of Completion. Upon successful completion of the theory and clinical coursework, students are eligible to take the State Geriatric Examination to become a CNA with a specialty in geriatrics (GNA). The knowledge and competencies learned in this academy are valuable in pursuing any health care career. Immunizations, literacy screening, and criminal investigation are required prior to clinical placement.</p>
      <h4>In addition to program requirements, successful students:</h4>
        <ul>
          <li>Maintain a C average in all academy coursework. Only students who have successfully completed classroom goals and objectives will be recommended for clinical experience.</li>
          <li>Complete state-mandated attendance and performance standards during the program.</li>
          <li>Attend an orientation session during May of the junior year.</li>
          <li>Complete 60 hours of clinical experience during the school year. Clinical hours will be completed on weekends.</li>
          <li>Are 16 years or older prior to participation in clinical experiences.</li>
          <li>Complete criminal background check prior to participation in clinical experiences.</li>
          <li>Maintain up-to-date immunizations before participation.</li>
          <li>Provide own transportation to all clinical experiences.</li>
        </ul>
      <h4><i class="fa fa-certificate fa-2"></i> Certifications</h4>
        <p>Upon completion of CNA coursework and clinical experiences with a grade of 70 or better, students can receive a CNA certificate. Students seeking GNA certification will be required to complete a state examination for a fee.</p>
    </div>

  <h3><i class="fa fa-angle-right fa-2"></i> Emergency Medical Technician </h3>
    <div class="hide hide--content">
      <p>Prepares students to have the emergency skills to assess a patient’s condition and manage respiratory, cardiac and trauma emergencies. The classes provide classroom and clinical experiences. The Emergency Medical Technician Academy is the result of a three-way partnership between Howard County Public Schools, Howard County Department of Fire and Rescue Services, and Howard Community College (HCC). This academy serves as a prerequisite for coursework in the Emergency Medical Services Program at Howard Community College.</p>
      <p>Prior to admission to the academy, students must complete an application to the EMT academy and interview by Fire and Rescuestaff. A physical examination must also be completed prior to acceptance. (Note: EMT is limited to 25 students per year/class.)</p>
      <h4>In addition to program requirements, successful students:</h4>
      <ul>
        <li>Complete state-mandated attendance and performance standards during the program. To meet the 165 hours of required content level classwork, students will need to participate in additional scheduled class sessions.</li>
        <li>Are 16 years or older prior to participation in clinical experiences.</li>
        <li>Complete criminal background check prior to participation in clinical experiences.</li>
        <li>Maintain up-to-date immunizations prior to participation in clinical experiences.</li>
        <li>Complete a minimum of 10 clinical hours and 5 pre-hospital calls after school and on weekends.</li>
        <li>Provide own transportation to all clinical experiences.</li>
      </ul>
      <h4><i class="fa fa-certificate fa-2"></i> Certifications</h4>
        <p>Students in the Emergency Medical Technician Academy earn Occupational Safety and Health Administration (OSHA) Infection Control certification.</p>
      <h4><i class="fa fa-graduation-cap fa-2"></i> College Credit</h4>
        <p>Upon graduation and successful completion of EMT-B certification requirements, students will begin college level coursework at HCC. The Emergency Medical Services Program at HCC is a two-year, Associates of Applied Science – Paramedic curriculum.</p>
    </div>
</div>