<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-asterisk" style="color: #7DC254;"></i> Pathway Options</h2>
<div id="list">
	<h3><i class="fa fa-angle-right fa-2"></i> Graphic Design Pathway</h3>
	<div class="hide hide--content">
		<p>Emphasizes publication design, web design and other digital design, such as illustration, digital imaging and videography.</p>
		<p>Students must complete at least 6-8 hours of work-site experience per week (students must provide their own transportation) and attend weekly senior seminars at the Applications and Research Lab OR daily attendance at the Applications and Research Lab.</p>
	</div>

	<h3><i class="fa fa-angle-right fa-2"></i> Animation Pathway</h3>
	<div class="hide hide--content">
		<p>Emphasizes architectural, mechanical, and forensic modeling techniques and demonstrates how these techniques can be applied to the entertainment and videography industries.</p>
	</div>
</div>